asgiref==3.3.1
attrs==20.3.0
Django==3.1.7
django-cors-headers==3.7.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
iniconfig==1.1.1
model-mommy==2.0.0
mysqlclient==2.0.3
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
PyJWT==2.0.1
pyparsing==2.4.7
pytest==6.2.2
pytest-django==4.1.0
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
